body{
    text-align: center;
}

.top-container{
    background-color: #d6f8f0;
    position: relative;
    padding-top: 100px;
}

h1{
    color: #2a8ca0;
    font-family: 'Pacifico', cursive;
    font-size: 5.400rem;
    margin: 50px auto 0 auto;
}

h2{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
    color: #58a6ad;
}

.top-png{
    position: absolute;
  right: 300px;
  top: 40px;
  height: 100px;
}

.bottom-png{
    position: absolute;
  left: 250px;
  bottom: 300px;
  height: 100px;
}

.pro{
    text-decoration: underline;
}

.pp{
    height: 150px;
    
}

p{
    line-height: 2;
}

.middle-container{
    margin: 100px 0;
}

.intro{
  width: 30%;
  margin: auto;
  font-size: 1.5rem;
}

hr{
    border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}


.parent{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
}

h3{
    font-family: 'IBM Plex Mono', monospace;
    color: #55abb3;
}


.btn{
    background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }